<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Drag & Drop or Browse: File Upload</title>
    <link rel="stylesheet" href="style/upload.css">
</head>

<body>
    <div class="drag-area">
        <img class="icon" src="images/up_icon.png" id="upicon"><br /><br>
        <header>Drag & Drop To Upload File</header>
        <span>Or</span>
        <button>Select File</button>
        <input type="file" hidden>
    </div>
    <div class="caption">
        <div>Add Caption Here</div>
        <textarea name="mycaption" id="caption" cols="30" rows="10"></textarea>
        <button id="btn" style="margin-top: 10px;" type="submit">Upload</button>
        <a href="/home">
            <button id="btn"style="margin-top : 10px">Home</button>
        </a>
    </div>
    <script src="frontjs/upload.js"></script>

</body>

</html> 