<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div class="container" style="text-align: center;"><h1>Welcome! New Member Your signup is successful</h1>
    <p>Please make some new friends in order to proceed forward.</p>
    <a href="/home">This is the homepage for you to go.</a></div>
    <script>alert("Successful Signup")</script>    
</body>
</html>