*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    background-image: url(/src/Images/back1.jpg);
    background-repeat: no-repeat;
    background-size:auto; 
    background-position: center;
}

body, html{
    min-height: 100%;
}

.container{
    width: 400px;
    height: 450px;
    background: rgb(33, 33, 58);
    color: black;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    border: #db2020;
    margin-left: 850px;
    margin-top: 110px;
    border-radius: 8px;
    border-color: red;
    border-width: 30px;

}


.name{
    font-family: 'Beau Rivage', cursive;
    color: white;
    background: none;
    font-size: 36px;
    border-radius: 40px;
    border-color: white;
}

.logo{
    width: 100px;
    border-color: black;
    background: white;
    top: -50px;
    border-radius: 20px;
}

.UserName{
    background-color: #fff;
    border-width: 3px;
    border-color: black;
    height: 30px;
    width: 280px;
    border-radius: 50px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: blue;
    background: white;
    
}

.password{
    background-color: #fff;
    border-width: 3px;
    border-color: black;
    height: 30px;
    width: 280px;
    border-radius: 50px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: blue;
    background: white;
    
}

.login{
    border-width: 2px;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    background-color: #75a6ec;
    background: #50A3C7;
    color: white;
    border-color: white;
}

.container #check{
    color: white;
    background: none;
}

.login:hover{
    background:  black;
    color: white;
    border-color: whitesmoke;
}

.container #forgetpassword{
    background: none;
    color: white;
}

.container #account{
    color: white;
    background: none;
}

.container #signup{
    color: red;
    background: none;
}

.a{
    text-decoration: none;
    color: black;
    background-color: white;
}

.a.ion-icons{
     color: white;
     font-size: 30px;
     padding-left: 14px;
     padding-top: 5px;
}
