*{
    margin: 0;
    padding: 0;
}

body,html{
    background-image: url(/src/Images/back1.jpg);
}

.container{
    width: 400px;
    height: 670px;
    background: rgb(33, 33, 58);
    color: black;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    border: #db2020;
    margin-left: 850px;
    margin-top: 25px;
    border-radius: 8px;
    border-color: red;
    border-width: 30px;
    padding-bottom: 100px;
}

.label{
    font-family: 'Beau Rivage', cursive;
    color: white;
    /* background: linear-gradient(-135deg, blue, purple, red, pink, orange, yellow); */
    font-size: 25px;
    border-radius: 40px;
}


input[type=text],input[type=password],input[type="email"],input[type="phone"]{
    background-color: #fff;
    border-width: 3px;
    border-color: black;
    height: 30px;
    width: 280px;
    border-radius: 8px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: blue;
    background: white;
    
}

#dob{
    background-color:rgb(33, 33, 58);
    border-width: 3px;
    border-color: black;
    height: 20px;
    width: 280px;
    border-radius: 5px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: white;    
}

#signup{
    border-width: 2px;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    background-color: #75a6ec;
    background: #50A3C7;
    color : white;
    border-color: white;
}

#signup:hover{
    background:  red;;
    color: white;
    border-color: whitesmoke;
}
